body {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
}
a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    background: #d9d9d9;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

.arrange-vertically {
}

.arrange-vertically > * {
    display:table-row; 
}
.table {
    display: table;
 }

 .arrange-horizontally {
    overflow-x:scroll;
}

.arrange-horizontally > * {
    display:table-cell;

}
